<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt erstellen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--responsive on mobile device: add 'stackable' in all grid-->

<!--nav-->
<nav th:replace="_fragments :: menuA(2)"></nav>



<br>
<br>


<!--body-->
<div class="m-padded-tb-medium m-margin-tb-horizontal-big m-container-small">

    <div class="ui container">

        <br>
        <form method="post" action="#" class="ui form" th:object="${person}" th:action="@{/admin/detail}">


            <div class="ui inverted segment m-padded-tb-big m-padded-tb-horizontal-large">

                <h2 class="ui center aligned header">Kontakt erstellen</h2>
                <br>
                <div class="ui inverted form" >
                    <div class="two required fields">
                        <div class="field">
                            <label>Vorname</label>
                            <input placeholder="Vorname" name="vorname" id="vn" th:value="*{vorname}" pattern="[a-zA-Z\u00C0-\u017F]*" type="text">
                        </div>
                        <div class="field">
                            <label>Nachname</label>
                            <input name="nachname" id="nn" placeholder="Nachname" th:value="*{nachname}" pattern="[a-zA-Z\u00C0-\u017F]*" type="text">
                        </div>
                    </div>
                    <div class="required field">
                        <label>E-mail</label>
                        <input type="email" name="mailadresse" id="mail" th:value="*{mailadresse}" placeholder="Mailadresse">
                    </div>


                    <div class="two fields">
                        <div class="required field">
                            <label>Telefonnummer</label>
                            <input type="text" name="telefonnummer"  th:value="*{telefonnummer}" id="tn" placeholder="Telefonnummer" pattern="[0-9]*">
                        </div>
                        <div class="field">
                            <label>Abteilung</label>
                            <div class="ui search selection dropdown">
                                <!---->
                                <input type="hidden" name="abteilung.id" th:value="*{abteilung}!=null ? *{abteilung.id} : 1">
                                <i class="dropdown icon"></i>
                                <div class="ui middle text">noch keine Abteilung</div>
                                <div class="menu" style="position: center">
                                    <div th:each="ab : ${session.abteilungList}" class="item" data-value="1" th:data-value="${ab.id}" th:text="${ab.name}"></div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="required field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="agree" name="agree"  class="hidden" >
                            <label for="agree">Ich stimme den AGB zu.</label>
                        </div>
                    </div>



                    <div class="ui right aligned container"><!--onclick="window.history.go(-1)"-->
                        <a th:href="@{/admin/detail}"><button type="button" class="ui button m-padded-tb-horizontal-small">back</button></a>
                        <button type="submit" class="ui pink button">erstellen</button>

                    </div>

                    <br>
                </div>
            </div>

            <!--error message from js (front end)-->
            <div class="ui error message"></div>

            <!--show error message from the back end validation-->
            <div class="ui negative message" th:if="${#fields.hasErrors('vorname')}">
                <i class="close icon"></i>
                <div class="header">Error</div>
                <p th:errors="*{vorname}">Invalid input.</p>
            </div>
            <div class="ui negative message" th:if="${#fields.hasErrors('nachname')}">
                <i class="close icon"></i>
                <div class="header">Error</div>
                <p th:errors="*{nachname}">Invalid input.</p>
            </div>
            <div class="ui negative message" th:if="${#fields.hasErrors('mailadresse')}">
                <i class="close icon"></i>
                <div class="header">Error</div>
                <p th:errors="*{mailadresse}">Invalid input.</p>
            </div>
            <div class="ui negative message" th:if="${#fields.hasErrors('telefonnummer')}">
                <i class="close icon"></i>
                <div class="header">Error</div>
                <p th:errors="*{telefonnummer}">Invalid input.</p>
            </div>



        </form>





        <br>
        <br>



    </div>
</div>




<!--footer-->
<footer th:replace="_fragments :: footer"></footer>


<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function (){
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown();

    //disable vorname, nachname, mailadresse front end validation on purpose,
    // so backend validation message can show
    $('.ui.form').form({
        fields: {
            vorname: {
                identifier: 'vorname11111',
                rules: [{
                    type: 'empty',
                    prompt: 'Vorname: darf nicht leer sein.'
                }]
            },
            nachname: {
                identifier: 'nachname11111111',
                rules: [{
                    type: 'empty',
                    prompt: 'Nachname: darf nicht leer sein.'
                }]
            },
            mailadresse: {
                identifier: 'mailadresse1111111',
                rules: [{
                    type: 'empty',
                    prompt: 'Mailadresse: darf nicht leer sein.'
                }]
            },
            agree: {
                identifier: 'agree',
                rules: [{
                    type: 'checked',
                    prompt: 'Sie müssen den Allgemeinen Geschäftsbedingungen zustimmen.'
                }]
            }
        }
    });

    //close notification
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>

</body>
</html>