<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--responsive on mobile device: add 'stackable' in all grid-->

<!--nav-->
<nav th:replace="_fragments :: menuA(2)"></nav>



<br>
<br>


<!--body-->
<div class="m-padded-tb-medium m-margin-tb-horizontal-big m-container">

    <div class="ui container">
        <div class="m-container-tiny">
            <!--notification-->
            <div class="ui info message " th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <i class="heart icon"></i>
                <i class="heart icon"></i>
                <i class="heart icon"></i>

                <div class="header"><p th:text="${message}"></p></div>

            </div>
        </div>


        <h2 class="ui center aligned header">Kontakte</h2>


        <br>
        <table class="ui compact center aligned striped pink table">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Mailadresse</th>
                <th>Telefonnummer</th>
                <th>Abteilung</th>
                <th>Bearbeiten/Löschen</th>
                <th></th>
                <th></th>

            </tr>
            </thead>
            <tbody>

            <tr th:each="person,iterStat: ${page.content}">
                <td></td>
                <td></td>
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${person.vorname}">Ivana</td>
                <td th:text="${person.nachname}">Luo</td>
                <td th:text="${person.mailadresse}">ivanaluo1994@gmail.com</td>
                <td th:text="${person.telefonnummer}">1776553525</td>
                <td th:text="${person.abteilung.name}">IT Abteilung</td>
                <td>
                    <a href="#" th:href="@{/admin/update/{id}(id=${person.id})}" class="ui pink mini m-margin-tb-horizontal-small button"><i class="edit icon"></i></a>
                    <a href="#" th:href="@{/admin/delete/{id}(id=${person.id})}" class="ui black mini button "><i class="close icon"></i></a>
                </td>
                <td></td>
                <td></td>
            </tr>




            </tbody>
            <tfoot>
            <tr>
                <th colspan="11">
                    <div class="ui left floated tiny pagination menu"  th:if="${page.totalPages>1}">
                        <a onclick="page(this)" class="item"
                           th:href="@{/admin/detail(page=${page.number}-1)}"
                           th:unless="${page.first}">
                            vorherige
                        </a>

                        <a onclick="page(this)" class="item m-padded-tb-horizontal-small"
                           th:href="@{/admin/detail(page=${page.number}+1)}"
                           th:unless="${page.last}">
                            nächste
                        </a>
                    </div>
                    <a href="#" th:href="@{/admin/create}" class="ui right floated tiny pink button">erstellen</a>

                </th>
            </tr>
            </tfoot>
        </table>

        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
</div>




<!--footer-->
<footer th:replace="_fragments :: footer"></footer>


<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function (){
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown();

    //close notification
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>

</body>
</html>