<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" conteicnt="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<nav th:replace="_fragments :: menuA(0)"></nav>

<div class="m-container-small m-padded-tb-massive" style="width: 30em">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui image header">
                    <img src="../static/images/paw.png" th:src="@{/images/paw.png}" class="image animate__bounceIn">
                    <div class="content">
                        Login
                    </div>
                </h2>
                <!--/../admin/login -> GetMapping("/admin/login")-->
                <form class="ui large form m-padded-tb-small m-margin-b-large" method="post" action="#" th:action="@{/admin/login}">
                    <div class="ui stacked pink segment m-padded-tb-big">
                        <div class="field m-padded-tb-horizontal-big" >
                            <br>
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="field m-padded-tb-horizontal-big">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <br>
                        <button class="ui medium black submit button" style="color: white">Login</button>

                    </div>


                    <div class="ui error m-padded-tb-medium m-padded-tb-horizontal-medium-responsive message animate__bounceIn"></div>

                    <div class="ui negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></div>

                </form>
            </div>
        </div>
    </div>
</div>


<!--footer-->
<footer th:replace="_fragments :: footer"></footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script>
    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: 'Username:  darf nicht leer sein.'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: 'Password:  darf nicht leer sein.'
                }]
            }
        }
    });
</script>



</body>
</html>