<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 error</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<nav th:replace="_fragments :: menuE"></nav>

<div class="m-container-small m-padded-tb-big">
    <div class="ui m-text-spaced error message">
        <div class="ui container">
            <h1 class="ui centered m-margin-tb-tiny header">error</h1>
            <h3 class="ui centered m-margin-tb-tiny header">Oops...</h3>
            <div class="ui centered m-margin-tb-tiny header" th:text="${exception}"></div>
            <br>

            <img src="../../static/images/exc.jpg" th:src="@{/images/exc.jpg}" class="ui m-margin-top rounded image">

        </div>
    </div>
</div>




<!--footer-->
<footer th:replace="_fragments :: footer"></footer>



</body>
</html>